.page {
  width: 100dvw;
  height: 100dvh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.bgImage {
  content: "";
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  filter: contrast(130%) brightness(0.4) blur(var(--blur));
  transform: scale(1.09);
}

.bgImage img {
  object-fit: cover;
}

@media (prefers-contrast: more) {
  .bgImage {
    filter: contrast(130%) brightness(0.2) blur(var(--blur));
  }
}

@media (prefers-reduced-motion: reduce) {
  .bgImage {
    filter: contrast(130%) brightness(0.4) blur(30px);
  }
}

@media (prefers-contrast: more) and (prefers-reduced-motion: reduce) {
  .bgImage {
    filter: contrast(130%) brightness(0.2) blur(30px);
  }
}

.content {
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  overscroll-behavior: none;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.hero {
  color: #FFC400;;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

@media (prefers-contrast: more) {
  .hero {
    color: var(--beige);
  }
}

.hero h1 {
  font-family: var(--instrument-serif), 'Times New Roman', Times, serif;
  font-size: 80px;
  line-height: 1;
}

.content p {
  font-size: 20px;
}

.content a {
  font-size: 20px;
}

.content a svg {
  vertical-align: -12%;
  transform: rotate(-45deg);
  transition: transform .2s linear;
}

.content a:hover svg {
  transform: rotate(0deg);
}

@media (prefers-reduced-motion: reduce) {
  .content a:hover svg {
    transform: rotate(-45deg);
  }
  .content a:hover {
    text-decoration: underline;
  }
}

.work,
.contact {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1em;
  padding: 2.5em;
}

.work {
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact {
  margin-top: 4em;
  overflow: scroll;
  overscroll-behavior: auto !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}

.contact div {
  flex: 1;
}

.sectionHeader {
  color: var(--beige);
  width: 100%;
}

.sectionHeader h2 {
  font-family: var(--instrument-serif), 'Times New Roman', Times, serif;
  font-size: 64px;
}

.contact .sectionHeader p:first-of-type {
  margin-bottom: 1rem;
}

.contact .sectionHeader p:nth-of-type(2) {
  font-size: 16px;
}

.contact .sectionHeader p {
  line-height: 1.3;
}

.contact::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}